Integromat-Save-HandIn/AddBilledAmount.json
{
    "name": "AddBilledAmount",
    "flow": [
        {
            "id": 2,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 383469,
                "maxResults": 2
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -418,
                    "y": 5
                },
                "restore": {
                    "hook": {
                        "label": "AddBilledAmmount"
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "InvoiceReceived",
                        "type": "text"
                    },
                    {
                        "name": "DamageID",
                        "type": "text"
                    },
                    {
                        "name": "BilledAmmount",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 1244576
            },
            "mapper": {
                "limit": "1",
                "filter": [
                    [
                        {
                            "a": "J",
                            "b": "{{2.DamageID}}",
                            "o": "text:equal"
                        }
                    ]
                ],
                "sheetId": "Tabellenblatt1",
                "sortOrder": "asc",
                "spreadsheetId": "1XaDR6wea4dBhqKSWOS_Evmv7AplLLwDnIR0GJSoEkYw",
                "tableFirstRow": "A1:Z1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": -118,
                    "y": 5
                },
                "restore": {
                    "orderBy": {
                        "mode": "chose",
                        "label": ""
                    },
                    "sheetId": {
                        "mode": "chose",
                        "label": "Tabellenblatt1"
                    },
                    "sortOrder": {
                        "mode": "chose",
                        "label": "Ascending"
                    },
                    "__IMTCONN__": {
                        "label": "RP@fhnw (patrikrueegg.stud@gmail.com)"
                    },
                    "spreadsheetId": {
                        "mode": "chose",
                        "label": "Dialog-DamageReport"
                    },
                    "tableFirstRow": {
                        "label": "A-Z"
                    },
                    "includesHeaders": {
                        "mode": "chose",
                        "label": "Yes"
                    },
                    "valueRenderOption": {
                        "mode": "chose",
                        "label": "Formatted value"
                    },
                    "dateTimeRenderOption": {
                        "mode": "chose",
                        "label": "Formatted string"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet",
                        "required": true
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "number",
                        "label": "Maximum number of returned rows"
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": {
                            "store": "rpc://google-sheets@2/rpcGetFilterKeys?includesHeaders=true"
                        }
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "ReportingDate (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "ReportingDateConInUTC (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "DamageCategory (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "DamageProduct (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "Urgency (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "DamageValueEstimate (F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "Name (G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "Address (H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "TimestampOrderPlaced (I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "DamageID (J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "ConfirmedDamageValue (K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "InvoiceReceived (L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "BilledAmmount (M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "(N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "(O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "(P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "(Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "google-sheets:updateRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 1244576
            },
            "mapper": {
                "mode": "select",
                "values": {
                    "11": "{{2.InvoiceReceived}}",
                    "12": "{{2.BilledAmmount}}"
                },
                "sheetId": "Tabellenblatt1",
                "rowNumber": "{{4.`__ROW_NUMBER__`}}",
                "spreadsheetId": "1XaDR6wea4dBhqKSWOS_Evmv7AplLLwDnIR0GJSoEkYw",
                "includesHeaders": true,
                "valueInputOption": "USER_ENTERED"
            },
            "metadata": {
                "designer": {
                    "x": 182,
                    "y": 5
                },
                "restore": {
                    "mode": {
                        "label": "Select spreadsheet and sheet"
                    },
                    "sheetId": {
                        "label": "Tabellenblatt1"
                    },
                    "__IMTCONN__": {
                        "label": "RP@fhnw (patrikrueegg.stud@gmail.com)"
                    },
                    "spreadsheetId": {
                        "label": "Dialog-DamageReport"
                    },
                    "includesHeaders": {
                        "label": "Yes"
                    },
                    "valueInputOption": {
                        "mode": "chose",
                        "label": "User entered"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Mode",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet",
                        "required": true
                    },
                    {
                        "name": "rowNumber",
                        "type": "uinteger",
                        "label": "Row number",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "ReportingDate (A)"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "ReportingDateConInUTC (B)"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "DamageCategory (C)"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "DamageProduct (D)"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "Urgency (E)"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "DamageValueEstimate (F)"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "Name (G)"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "Address (H)"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "TimestampOrderPlaced (I)"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "DamageID (J)"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "ConfirmedDamageValue (K)"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "InvoiceReceived (L)"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "BilledAmmount (M)"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "(N)"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "(O)"
                            },
                            {
                                "name": "15",
                                "type": "text",
                                "label": "(P)"
                            },
                            {
                                "name": "16",
                                "type": "text",
                                "label": "(Q)"
                            },
                            {
                                "name": "17",
                                "type": "text",
                                "label": "(R)"
                            },
                            {
                                "name": "18",
                                "type": "text",
                                "label": "(S)"
                            },
                            {
                                "name": "19",
                                "type": "text",
                                "label": "(T)"
                            },
                            {
                                "name": "20",
                                "type": "text",
                                "label": "(U)"
                            },
                            {
                                "name": "21",
                                "type": "text",
                                "label": "(V)"
                            },
                            {
                                "name": "22",
                                "type": "text",
                                "label": "(W)"
                            },
                            {
                                "name": "23",
                                "type": "text",
                                "label": "(X)"
                            },
                            {
                                "name": "24",
                                "type": "text",
                                "label": "(Y)"
                            },
                            {
                                "name": "25",
                                "type": "text",
                                "label": "(Z)"
                            },
                            {
                                "name": "26",
                                "type": "text",
                                "label": "(AA)"
                            },
                            {
                                "name": "27",
                                "type": "text",
                                "label": "(AB)"
                            }
                        ],
                        "type": "collection",
                        "label": "Values"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": false,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.integromat.com"
    }
}