Integromat-Save-HandIn/Use-AI-toStartProcess.json
{
    "name": "UseAItoverifyandstoreinfo",
    "flow": [
        {
            "id": 2,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 390643,
                "maxResults": 2
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "hook": {
                        "label": "Dialog-Entry-Webhook"
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "responseId",
                        "type": "text"
                    },
                    {
                        "name": "queryResult",
                        "spec": [
                            {
                                "name": "queryText",
                                "type": "text"
                            },
                            {
                                "name": "parameters",
                                "spec": [
                                    {
                                        "name": "DamageCategory",
                                        "spec": {
                                            "type": "text"
                                        },
                                        "type": "array"
                                    },
                                    {
                                        "name": "DamageProduct",
                                        "spec": {
                                            "type": "text"
                                        },
                                        "type": "array"
                                    },
                                    {
                                        "name": "Urgency",
                                        "type": "text"
                                    },
                                    {
                                        "name": "Address",
                                        "type": "text"
                                    },
                                    {
                                        "name": "Name",
                                        "type": "text"
                                    },
                                    {
                                        "name": "Damagevalue",
                                        "type": "text"
                                    }
                                ],
                                "type": "collection"
                            },
                            {
                                "name": "allRequiredParamsPresent",
                                "type": "boolean"
                            },
                            {
                                "name": "fulfillmentText",
                                "type": "text"
                            },
                            {
                                "name": "fulfillmentMessages",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "text",
                                            "spec": [
                                                {
                                                    "name": "text",
                                                    "spec": {
                                                        "type": "text"
                                                    },
                                                    "type": "array"
                                                }
                                            ],
                                            "type": "collection"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array"
                            },
                            {
                                "name": "outputContexts",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "name",
                                            "type": "text"
                                        },
                                        {
                                            "name": "parameters",
                                            "spec": [
                                                {
                                                    "name": "DamageCategory",
                                                    "spec": {
                                                        "type": "text"
                                                    },
                                                    "type": "array"
                                                },
                                                {
                                                    "name": "DamageCategory.original",
                                                    "spec": {
                                                        "type": "text"
                                                    },
                                                    "type": "array"
                                                },
                                                {
                                                    "name": "DamageProduct",
                                                    "spec": {
                                                        "type": "text"
                                                    },
                                                    "type": "array"
                                                },
                                                {
                                                    "name": "DamageProduct.original",
                                                    "spec": {
                                                        "type": "text"
                                                    },
                                                    "type": "array"
                                                },
                                                {
                                                    "name": "Urgency",
                                                    "type": "text"
                                                },
                                                {
                                                    "name": "Urgency.original",
                                                    "type": "text"
                                                },
                                                {
                                                    "name": "Address",
                                                    "type": "text"
                                                },
                                                {
                                                    "name": "Address.original",
                                                    "type": "text"
                                                },
                                                {
                                                    "name": "Name",
                                                    "type": "text"
                                                },
                                                {
                                                    "name": "Name.original",
                                                    "type": "text"
                                                },
                                                {
                                                    "name": "Damagevalue",
                                                    "type": "text"
                                                },
                                                {
                                                    "name": "Damagevalue.original",
                                                    "type": "text"
                                                }
                                            ],
                                            "type": "collection"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array"
                            },
                            {
                                "name": "intent",
                                "spec": [
                                    {
                                        "name": "name",
                                        "type": "text"
                                    },
                                    {
                                        "name": "displayName",
                                        "type": "text"
                                    }
                                ],
                                "type": "collection"
                            },
                            {
                                "name": "intentDetectionConfidence",
                                "type": "number"
                            },
                            {
                                "name": "languageCode",
                                "type": "text"
                            }
                        ],
                        "type": "collection"
                    },
                    {
                        "name": "originalDetectIntentRequest",
                        "spec": [
                            {
                                "name": "source",
                                "type": "text"
                            },
                            {
                                "name": "version",
                                "type": "text"
                            },
                            {
                                "name": "payload",
                                "spec": [
                                    {
                                        "name": "user",
                                        "spec": [
                                            {
                                                "name": "locale",
                                                "type": "text"
                                            },
                                            {
                                                "name": "lastSeen",
                                                "type": "text"
                                            },
                                            {
                                                "name": "userVerificationStatus",
                                                "type": "text"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    {
                                        "name": "conversation",
                                        "spec": [
                                            {
                                                "name": "conversationId",
                                                "type": "text"
                                            },
                                            {
                                                "name": "type",
                                                "type": "text"
                                            },
                                            {
                                                "name": "conversationToken",
                                                "type": "text"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    {
                                        "name": "inputs",
                                        "spec": {
                                            "spec": [
                                                {
                                                    "name": "intent",
                                                    "type": "text"
                                                },
                                                {
                                                    "name": "rawInputs",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "name": "inputType",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "name": "query",
                                                                "type": "text"
                                                            }
                                                        ],
                                                        "type": "collection"
                                                    },
                                                    "type": "array"
                                                },
                                                {
                                                    "name": "arguments",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "name": "name",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "name": "rawText",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "name": "textValue",
                                                                "type": "text"
                                                            }
                                                        ],
                                                        "type": "collection"
                                                    },
                                                    "type": "array"
                                                }
                                            ],
                                            "type": "collection"
                                        },
                                        "type": "array"
                                    },
                                    {
                                        "name": "surface",
                                        "spec": [
                                            {
                                                "name": "capabilities",
                                                "spec": {
                                                    "spec": [
                                                        {
                                                            "name": "name",
                                                            "type": "text"
                                                        }
                                                    ],
                                                    "type": "collection"
                                                },
                                                "type": "array"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    {
                                        "name": "isInSandbox",
                                        "type": "boolean"
                                    },
                                    {
                                        "name": "requestType",
                                        "type": "text"
                                    }
                                ],
                                "type": "collection"
                            }
                        ],
                        "type": "collection"
                    },
                    {
                        "name": "session",
                        "type": "text"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 3,
            "module": "google-sheets:addRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 1169991
            },
            "mapper": {
                "mode": "select",
                "values": {
                    "0": "{{timestamp}}",
                    "1": "=({{timestamp}}+2209161600)/86400",
                    "2": "{{2.queryResult.parameters.DamageCategory}}",
                    "3": "{{2.queryResult.parameters.DamageProduct}}",
                    "4": "{{2.queryResult.parameters.Urgency}}",
                    "5": "{{2.queryResult.parameters.Damagevalue}}",
                    "6": "{{2.queryResult.parameters.Name}}",
                    "7": "{{2.queryResult.parameters.Address}}"
                },
                "sheetId": "Tabellenblatt1",
                "spreadsheetId": "1XaDR6wea4dBhqKSWOS_Evmv7AplLLwDnIR0GJSoEkYw",
                "includesHeaders": true,
                "insertDataOption": "INSERT_ROWS",
                "valueInputOption": "USER_ENTERED"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "mode": {
                        "label": "Select spreadsheet and sheet"
                    },
                    "sheetId": {
                        "label": "Tabellenblatt1"
                    },
                    "__IMTCONN__": {
                        "label": "GoogleForm-TDR (patrikrueegg.stud@gmail.com)"
                    },
                    "spreadsheetId": {
                        "label": "Dialog-DamageReport"
                    },
                    "includesHeaders": {
                        "label": "Yes"
                    },
                    "insertDataOption": {
                        "mode": "chose",
                        "label": "Insert rows"
                    },
                    "valueInputOption": {
                        "mode": "chose",
                        "label": "User entered"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Mode",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "insertDataOption",
                        "type": "select",
                        "label": "Insert data option",
                        "validate": {
                            "enum": [
                                "INSERT_ROWS",
                                "OVERWRITE"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "ReportingDate (A)"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "ReportingDateConInUTC (B)"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "DamageCategory (C)"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "DamageProduct (D)"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "Urgency (E)"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "DamageValueEstimate (F)"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "Name (G)"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "Address (H)"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "TimestampOrderPlacedUTC (I)"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "DamageID (J)"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "ConfirmedDamageValue (K)"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "InvoiceReceived (L)"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "BilledAmmount (M)"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "(N)"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "(O)"
                            },
                            {
                                "name": "15",
                                "type": "text",
                                "label": "(P)"
                            },
                            {
                                "name": "16",
                                "type": "text",
                                "label": "(Q)"
                            },
                            {
                                "name": "17",
                                "type": "text",
                                "label": "(R)"
                            },
                            {
                                "name": "18",
                                "type": "text",
                                "label": "(S)"
                            },
                            {
                                "name": "19",
                                "type": "text",
                                "label": "(T)"
                            },
                            {
                                "name": "20",
                                "type": "text",
                                "label": "(U)"
                            },
                            {
                                "name": "21",
                                "type": "text",
                                "label": "(V)"
                            },
                            {
                                "name": "22",
                                "type": "text",
                                "label": "(W)"
                            },
                            {
                                "name": "23",
                                "type": "text",
                                "label": "(X)"
                            },
                            {
                                "name": "24",
                                "type": "text",
                                "label": "(Y)"
                            },
                            {
                                "name": "25",
                                "type": "text",
                                "label": "(Z)"
                            },
                            {
                                "name": "26",
                                "type": "text",
                                "label": "(AA)"
                            },
                            {
                                "name": "27",
                                "type": "text",
                                "label": "(AB)"
                            }
                        ],
                        "type": "collection",
                        "label": "Values"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 6,
            "module": "google-sheets:updateRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 1169991
            },
            "mapper": {
                "mode": "select",
                "values": {
                    "9": "Damage-ID-{{3.rowNumber}}"
                },
                "sheetId": "Tabellenblatt1",
                "rowNumber": "{{3.rowNumber}}",
                "spreadsheetId": "1XaDR6wea4dBhqKSWOS_Evmv7AplLLwDnIR0GJSoEkYw",
                "includesHeaders": true,
                "valueInputOption": "USER_ENTERED"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "mode": {
                        "label": "Select spreadsheet and sheet"
                    },
                    "sheetId": {
                        "label": "Tabellenblatt1"
                    },
                    "__IMTCONN__": {
                        "label": "GoogleForm-TDR (patrikrueegg.stud@gmail.com)"
                    },
                    "spreadsheetId": {
                        "label": "Dialog-DamageReport"
                    },
                    "includesHeaders": {
                        "label": "Yes"
                    },
                    "valueInputOption": {
                        "mode": "chose",
                        "label": "User entered"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Mode",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet",
                        "required": true
                    },
                    {
                        "name": "rowNumber",
                        "type": "uinteger",
                        "label": "Row number",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "ReportingDate (A)"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "ReportingDateConInUTC (B)"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "DamageCategory (C)"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "DamageProduct (D)"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "Urgency (E)"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "DamageValueEstimate (F)"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "Name (G)"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "Address (H)"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "TimestampOrderPlaced (I)"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "DamageID (J)"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "ConfirmedDamageValue (K)"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "InvoiceReceived (L)"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "BilledAmmount (M)"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "(N)"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "(O)"
                            },
                            {
                                "name": "15",
                                "type": "text",
                                "label": "(P)"
                            },
                            {
                                "name": "16",
                                "type": "text",
                                "label": "(Q)"
                            },
                            {
                                "name": "17",
                                "type": "text",
                                "label": "(R)"
                            },
                            {
                                "name": "18",
                                "type": "text",
                                "label": "(S)"
                            },
                            {
                                "name": "19",
                                "type": "text",
                                "label": "(T)"
                            },
                            {
                                "name": "20",
                                "type": "text",
                                "label": "(U)"
                            },
                            {
                                "name": "21",
                                "type": "text",
                                "label": "(V)"
                            },
                            {
                                "name": "22",
                                "type": "text",
                                "label": "(W)"
                            },
                            {
                                "name": "23",
                                "type": "text",
                                "label": "(X)"
                            },
                            {
                                "name": "24",
                                "type": "text",
                                "label": "(Y)"
                            },
                            {
                                "name": "25",
                                "type": "text",
                                "label": "(Z)"
                            },
                            {
                                "name": "26",
                                "type": "text",
                                "label": "(AA)"
                            },
                            {
                                "name": "27",
                                "type": "text",
                                "label": "(AB)"
                            }
                        ],
                        "type": "collection",
                        "label": "Values"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": false
            },
            "mapper": {
                "ca": "",
                "qs": [],
                "url": "https://digibp-cheddar.herokuapp.com/rest/process-definition/key/TDR-ToBe-V1/submit-form",
                "data": "{\"variables\": {        \"EstimatedDamageValue\": {            \"value\": \"{{2.queryResult.parameters.Damagevalue}}\",            \"type\": \"Integer\"        },        \"IncCategory\": {            \"value\": \"{{2.queryResult.parameters.DamageCategory}}\",            \"type\": \"String\"        }, \"DamageID\": {            \"value\": \"Damage-ID-{{3.rowNumber}}\",            \"type\": \"String\"        }    }}",
                "gzip": true,
                "method": "post",
                "headers": [],
                "timeout": "",
                "authPass": "",
                "authUser": "",
                "bodyType": "raw",
                "contentType": "application/json",
                "shareCookies": false,
                "parseResponse": false,
                "followRedirect": true,
                "useQuerystring": false,
                "followAllRedirects": false,
                "rejectUnauthorized": true
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "qs": {
                        "mode": "chose",
                        "items": []
                    },
                    "method": {
                        "mode": "chose",
                        "label": "POST"
                    },
                    "headers": {
                        "mode": "chose",
                        "items": []
                    },
                    "bodyType": {
                        "label": "Raw"
                    },
                    "contentType": {
                        "label": "JSON (application/json)"
                    }
                },
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers",
                        "labels": {
                            "add": "Add a header",
                            "edit": "Edit a header"
                        }
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String",
                        "labels": {
                            "add": "Add parameter",
                            "edit": "Edit parameter"
                        }
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "authUser",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "authPass",
                        "type": "password",
                        "label": "Password"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate",
                        "multiline": true
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Content type",
                        "validate": {
                            "enum": [
                                "text/plain",
                                "application/json",
                                "application/xml",
                                "text/xml",
                                "text/html",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Request content"
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ]
            }
        }
    ],
    "metadata": {
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": false,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.integromat.com"
    }
}